[Unit]
Description=ESWS WPS Client
After=network-online.target

[Service]
Type=simple
User=user
ExecStart=/usr/bin/python3 /home/user/esws/tools/wpsclient/manage.py runserver

[Install]
WantedBy=multi-user.target
