[Unit]
Description=ESWS WPS InVEST
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python2 /home/esws/esws/tools/wpsserver/wpsserver.py

[Install]
WantedBy=multi-user.target
