[Unit]
Description=ESWS TJS
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/esws/tjs-venv/bin/python /home/esws/OneTjs/manage.py runserver

[Install]
WantedBy=multi-user.target
