#these must be installed manually
Cython
numpy>=1.11.0
#GDAL>=2.0,<3.0
#-e /data/share/gdal-2.3.1/swig/python
GDAL==2.3.1

-e hg+https://bitbucket.org/mlacayoemery/invest#egg=natcap.invest
#-e /data/share/invest
#natcap.invest==3.5.0.post104+hc0048a13fe66.d20180827
#pygeoprocessing
#natcap.invest

##wpsclient
-e git+https://github.com/mlacayoemery/django-SplitJSONWidget-form.git@77c458d3fd17a97d8bb4753baaed71b3a6f1028c#egg=django-split-json-widget
django==2.0.8
jsonfield

##wpsserver
flask
pywps

##miscellaneous
-e git+https://github.com/boundlessgeo/gsconfig.git@d05a4dc152aa3fb97171f418d7dc09f5f45445a5#egg=gsconfig-py
