#TJS
venv

##wpsclient
-e git+https://github.com/mlacayoemery/django-SplitJSONWidget-form.git@77c458d3fd17a97d8bb4753baaed71b3a6f1028c#egg=django-split-json-widget
django==2.0.12
django-extensions
jsonfield
bs4

#pygraphviz
pyparsing
pydot

##wpsserver
flask
pywps

##miscellaneous
requests>=2.14.0
-e git+https://github.com/boundlessgeo/gsconfig.git@d05a4dc152aa3fb97171f418d7dc09f5f45445a5#egg=gsconfig-py

svgwrite
