pip
GDAL==2.4.4
Cython
Pyro4==4.77
pandas>=0.22.0
numpy>=1.11.0,!=1.16.0
Rtree>=0.8.2,!=0.9.1
scipy>=0.16.1
Shapely>=1.6.4,<1.7.0
six
pygeoprocessing>=1.9.2
taskgraph[niced_processes]>=0.8.2
psutil>=5.6.6
chardet>=3.0.4
matplotlib
xlrd>=1.2.0
xlwt
natcap.invest==3.8.0
virtualenv
-e git+https://github.com/mlacayoemery/django-SplitJSONWidget-form.git@77c458d3fd17a97d8bb4753baaed71b3a6f1028c#egg=django-split-json-widget
django==2.2.20
django-extensions
jsonfield
bs4
pyparsing
pydot
flask
pywps
gisdata==0.5.4
requests>=2.14.0
-e git+https://github.com/boundlessgeo/gsconfig.git@d05a4dc152aa3fb97171f418d7dc09f5f45445a5#egg=gsconfig-py
svgwrite
