#these must be installed manually
Cython
numpy>=1.11.0
#GDAL>=2.0,<3.0
GDAL==2.3.1

#these can be installed with pip -r requirements.txt
gsconfig
h5py

Pyro4==4.41  # pip-only
pandas>=0.22.0

Rtree>=0.8.2
scipy>=0.16.1
Shapely
six
pygeoprocessing>=1.2.3
taskgraph[niced_processes]>=0.6.1
chardet>=3.0.4
matplotlib
natcap.invest==3.5.0.post688+h2215ed1485cb
