{% extends 'wpsclient/base.html' %}

{% block content %}
<h3>HTTP</h3>
<table border=1 frame=void rules=all>
<tr>
<td>Id</td>
<td>Updated</td>
<td>Name</td>
<td>Registrations</td>
<td>Jobs</td>
</tr>
{% for server in servers_csv %}
<tr>
<td>{{ server.pk }}</td>
<td>{{ server.updated_at|date:'y-m-d H:i' }}</td>
<td><a href="{% url 'server_element_list' server_type=server.server_type server_pk=server.pk %}">{{ server.title }}</a></td>
<td align=right>{{ server.registrations }}</td>
<td align=right>{{ server.jobs }}</td>
</tr>
{% endfor %}
</table>
Total: {{ servers_csv.count }}<p>
<a href="{% url 'server_new' server_type='CSV' %}">Add</a>
<a href="{% url 'job_list'%}">Jobs</a>

<p>
<h3>WCS</h3>
<table border=1 frame=void rules=all>
<tr>
<td>Id</td>
<td>Updated</td>
<td>Name</td>
<td>Registrations</td>
<td>Jobs</td>
</tr>
{% for server in servers_wcs %}
<tr>
<td>{{ server.pk }}</td>
<td>{{ server.updated_at|date:'y-m-d H:i' }}</td>
<td><a href="{% url 'server_element_list' server_type=server.server_type server_pk=server.pk %}">{{ server.title }}</a></td>
<td align=right>{{ server.registrations }}</td>
<td align=right>{{ server.jobs }}</a></td>
</tr>
{% endfor %}
</table>
Total: {{ servers_wcs.count }}<p>
<a href="{% url 'server_new' server_type='WCS' %}">Add</a>
<a href="{% url 'job_list'%}">Jobs</a>

<p>
<h3>WFS</h3>
<table border=1 frame=void rules=all>
<tr>
<td>Id</td>
<td>Updated</td>
<td>Name</td>
<td>Registrations</td>
<td>Jobs</td>
</tr>
{% for server in servers_wfs %}
<tr>
<td>{{ server.pk }}</td>
<td>{{ server.updated_at|date:'y-m-d H:i' }}</td>
<td><a href="{% url 'server_element_list' server_type=server.server_type server_pk=server.pk %}">{{ server.title }}</a></td>
<td align=right>{{ server.registrations }}</td>
<td align=right>{{ server.jobs }}</td>
</tr>
{% endfor %}
</table>
Total: {{ servers_wfs.count }}<p>
<a href="{% url 'server_new' server_type='WFS' %}">Add</a>
<a href="{% url 'job_list'%}">Jobs</a>

<p>
<h3>WPS</h3>
<table border=1 frame=void rules=all>
<tr>
<td>Id</td>
<td>Updated</td>
<td>Name</td>
<td>Registrations</td>
<td>Jobs</td>
</tr>
{% for server in servers_wps %}
<tr>
<td><a href="{% url 'server_edit' server_type=server.server_type server_pk=server.pk %}">{{ server.pk }}</a></td>
<td>{{ server.updated_at|date:'y-m-d H:i' }}</td>
<td><a href="{% url 'server_element_list' server_type=server.server_type server_pk=server.pk %}">{{ server.title }}</a></td>
<td align=right>{{ server.registrations }}</td>
<td align=right><a href="{% url 'server_job_list' server_pk=server.pk%}">{{ server.jobs }}</a></td>
</tr>
{% endfor %}
</table>
Total: {{ servers_wps.count }}<p>
<a href="{% url 'server_new' server_type='WPS' %}">Add</a>
<a href="{% url 'job_list'%}">Jobs</a>

<p>
<h3>Jobs</h3>
<table border=1 frame=void rules=all>
<tr>
<td><center>Server Id</center></td>
<td><center>Server Title</center></td>
<td><center>Process Id</center></td>
<td><center>Job Id</center></td>
<td><center>Status</center></td>
<td width=50%><center>JSON Parameters</center></td></tr>
{% for p in process_list  %}
<tr>
<td><center>{{ p.server.pk }}<center></td>
<td><a href="{% url 'server_element_list' server_type='WPS' server_pk=p.server.pk %}">{{ p.server.title }}</a></td>
<td><a href="{% url 'server_element_detail' server_type='WPS' server_pk=p.server.pk element_id=p.identifier %}">{{ p.identifier }}</a></td>
<td><center><a href="{% url 'job_detail' job_pk=p.pk %}">{{ p.pk }}</a></center></td>
<td><a href="{% url 'job_run' job_pk=p.pk %}">{{ p.status }}</a></td>
<td width=50%>{{ p.args }}</td></tr>
{% endfor %}
</table>
Total: {{ process_list.count }}<p>

{% endblock %}
