{% extends 'wpsclient/base.html' %}

{% block content %}
    <div class="server">
	{% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'server_edit' server_pk=server.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}
        <h2>{{ server.title }}</h2>
        <p>{{ server.url|linebreaksbr }}</p>
<table border=1 frame=void rules=all>
<tr>
<td>Job</td>
<td>Id</td>
</tr>
{% for process in processes %}
<tr>
<td><a href="{% url 'job_new' server_pk=server.pk process_id=process %}">New</a></td>
<td><a href="{% url 'server_wps_describe_process' server_type='WPS' server_pk=server.pk process_id=process %}">{{process}}</a></td>
</tr>
{% endfor %}
</table>
    </div>
{% endblock %}
