{% extends 'wpsclient/base.html' %}

{% block content %}
<div class="server">
<h2>{{ server.title }}</h2>
<p>
<table border=1 frame=void rules=all>
<tr><td>URL</td><td>{{ server.url }}</td></tr>
<tr><td>Registrations</td><td> {{ server.registrations }} </td></tr>
<tr><td>Jobs</td><td> {{ server.jobs }}</td></tr>
</table>

<h3>Registered Elements</h3>
{% if registered_element_list|length > 0 %}
<table border=1 frame=void rules=all>
<tr>
<td>Action</td>
<td>Id</td>
</tr>
{% for element in registered_element_list %}
<tr>
<td><a href="{% url 'server_element_unregister' server_type=server.server_type server_pk=server.pk element_id=element %}">Unregister</a></td>
<td><a href="{% url 'server_element_detail' server_type=server.server_type server_pk=server.pk element_id=element %}">{{element}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<p>Total: {{ registered_element_list|length }}

<p>
<h3>Unregistered Elements<h3>
{% if unregistered_element_list|length > 0 %}
<table border=1 frame=void rules=all>
<tr>
<td>Action</td>
<td>Id</td>
</tr>
{% for element in unregistered_element_list %}
<tr>
<td><a href="{% url 'server_element_register' server_type=server.server_type server_pk=server.pk element_id=element %}">Register</a></td>
<td><a href="{% url 'server_element_detail' server_type=server.server_type server_pk=server.pk element_id=element %}">{{element}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
    </div>
<p>Total: {{ unregistered_element_list|length }}
{% endblock %}
