{% extends 'wpsclient/base.html' %}

{% block content %}
    <div class="server">
	{% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'server_edit' server_pk=server.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
	{% endif %}
        <h2><a href="{% url 'server_element_list' server_type='WPS' server_pk=server.pk %}">{{ server.title }}</a></h2>
        <p><b>URL</b></p><p>{{ server.url}}</p>
        <p><b>Id</b></p><p>{{ process_id}}</p>
        <p><b>Title</b></p><p>{{ process_title}}</p>
        <p><b>Abstract</b></p><p>{{ process_abstract}}</p>        
        <p><b>Inputs</b></p>
        <table border=1 frame=void rules=all>
        <tr><td>Id</td><td>Title<td width="50%">Abstract</td><td>Data Type</td><td>Min Occurs</td><td>Max Occurs</td></tr>
        {% for i,t,a,d,n,x in process_input  %}
        <tr><td>{{i}}</td><td>{{t}}</td><td width="50%">{{a}}</td><td>{{d}}</td><td align="right">{{n}}</td><td align="right">{{x}}</td></tr>        
        {% endfor %}
        </table>
        <p><b>Outputs</b></p>
        <table border=1 frame=void rules=all>
        <tr><td>Id</td><td>Title<td width="50%">Abstract</td><td>Data Type</td></tr>
        {% for i,t,a,d in process_output  %}
        <tr><td>{{i}}</td><td>{{t}}</td><td width="50%">{{a}}</td><td>{{d}}</td></tr>        
        {% endfor %}
        </table>
        
        <p><a href="{% url 'job_new' server_pk=server.pk process_id=process_id %}">New Job</a></p>
        <p><b>XML</b></p>
        <p><pre>{{ xml}}</pre></p>
    </div>
{% endblock %}
