{% extends 'wpsclient/base.html' %}

{% block content %}
<h2>{{ servers.0.server_type }} Servers</h2>
<table border=1 frame=void rules=all>
<tr>
<td>Id</td>
<td>Type</td>
<td>Name</td>
<td>URL</td>
<td></td>
<td></td>
</tr>
{% for server in servers %}
<tr>
<td>{{ server.pk }}</td>
<td></td>
<td>{{ server.title }}</td>
<td>{{ server.url}}</td>
<td><a href="{% url 'server_wps_capabilities' server_type=server.server_type server_pk=server.pk %}">List</a></td>
<td><a href="{% url 'server_job_list' server_pk=server.pk%}">Instances</a></td>
</tr>
{% endfor %}
</table>
<a href="{% url 'server_new' server_type=servers.0.server_type %}">Add Source</a>
<a href="{% url 'job_list'%}">Combined Instances</a>

{% endblock %}
